@media only screen and (max-width: 320px) {
  
    #headimp{
        font-size: 12rem;
        color: blue;
    }
}


#headDiv{
    -webkit-animation: tilt-in-top-1 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-top-1 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes tilt-in-top-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
              transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
              transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-top-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
              transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
              transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
  


.dataDiv{
    background-color: black;

}
.dataDiv>h1{
    border-bottom: 15px;
}

#thead{
    background-color: rgb(255, 255, 255);
}

#datahead{
    background-color:white;
    margin:0;
    padding-top: 50px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
}

#outerDiv{
    padding-top: 25px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 35px;
}

#charimg{
    box-shadow: 0px 5px 7px;
}

#tchar,#tname,#tocc,#tbirth,#tact{
    color: white;
    border-radius: 15px;
    vertical-align: middle;
    color: white;
}

#btn-more{
   
    margin-bottom: 50px;
}
#btn-more:hover{
    background-color: black;
}

#btn-more:active{
   background-color: white;
   color: black;
    
}


#headimp{
    font-size: 70pt;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 1px;
}

#trow2{
    text-align: center;
   
}